@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";

#authentication {
  background-image: url("../../images/camping_forest_night.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.logo {
  max-width: 200px;
}

.profile-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
}

.card-header i::before {
  font-size: 50px;
}

#header-profile i {
  font-size: 30px;
}

#profile-avatar img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
}

#profile-avatar i::before {
  font-size: 100px;
}

#link-goBack {
  cursor: pointer;
}
