@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";

#authentication {
  background-image: url("../../images/camping_forest_night.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.logo {
  max-width: 200px;
}

.profile-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
}

.card-header i::before {
  font-size: 50px;
}

#header-profile i {
  font-size: 30px;
}

#profile-avatar img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
}

#profile-avatar i::before {
  font-size: 100px;
}

#link-goBack {
  cursor: pointer;
}

.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 68px;
  height: 68px;
  color: #fff;
}
.loader:before,
.loader:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loader:after {
  color: rgba(0, 162, 255, 0.8901960784);
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}
